.image{
  background-image:url('C:\Users\khmam\Documents\GitHub\Predective-Industrial-Maintainance\assets\industry.jpg');
  background-size:cover;
  margin:0px;
}
.textOnImage {
  background-color: rgba(0, 0, 0, 0.2);
  color:white;
  text-align:center;
  font-weight:bold;
}

